@model IEnumerable<UnitOfWorkTrial.Models.Employee>

@{
    ViewData["Title"] = "Index";
    string SearchQuery = @ViewBag.SearchText;
}

<h1 class="text-center">Employee Database</h1>
<br />




<div class="hstack gap-3" >
    @* Modal Button *@
    <div>
        <button type="button" class="btn btn-secondary filter-button" data-toggle="modal" data-target="#Filter-Container">
            Filter Employees
        </button>
    </div>

    @* Modal *@

    <div class="modal fade" id="Filter-Container" ; tabindex="-1" role="dialog" aria-labelledby="Filter-ContainerLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Filter-ContainerLabel">Filter Employees</h5>
                    <button type="button" class="close border" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-asp-controller="Employees" asp-action="Index" method="get">
                        <span class="btn-group">
                            @*<input name="Page" value="@ViewBag.CurrentPage" hidden />*@
                            <input class="form-control me-auto" type="text" name="SearchText" value="@ViewBag.SearchText" placeholder="Search Employee" />
                        </span>
                        <select class="form-control" id="Department" name="DepId" multiple>
                            @foreach (var dep in ((SelectList)ViewData["DepartmentId"]).Items)
                            {
                                string str = @ViewBag.ArrayString;
                                var cast = (Department)dep;
                                if (str.Split(',').Contains(cast.DepartmentId.ToString()))
                                {
                                    <option class="z-index-100 position-relative" value="@cast.DepartmentId" selected>@cast.Name</option>
                                }
                                else
                                {
                                    <option value="@cast.DepartmentId">@cast.Name</option>
                                }
                            }
                        </select>
                        <div><br/></div>
                        <div class="modal-footer justify-content-center">
                            <input class="btn btn-outline-primary" type="submit" value="Search" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="vstack gap-3" align="right">
        <form asp-action="Create">
            <button type="submit" class="btn btn-dark position-relative">Add New Employee</button>
        </form>
    </div>
</div>

<div><br /></div>


<div class="hstack gap-1">

    @for(var Page = 1; Page <= 3; Page++)
    {
        <div class="hstack bubble">
            <button class="bubble-text">Dev</button>
            <button type="button" class="bubble-remove" aria-label="Close" id="close" onclick="this.parentNode.parentNode.remove(); return false;">x</button>
        </div>

    }
</div>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td class="hstack gap-3">
                    <form asp-action="Edit" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-success position-relative">Edit</button>
                    </form>
                    <form asp-action="Details" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-primary position-relative">Details</button>
                    </form>
                    <form asp-action="Delete" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-danger position-relative">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="container">
    @if (ViewBag.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">

            @if (ViewBag.CurrentPage > 1)
            {

                <li class="page-item">
                    <a class="page-link" onclick="SetDepartment(1,'@SearchQuery')">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="SetDepartment(@(ViewBag.CurrentPage - 1),'@SearchQuery')">Previous</a>
                </li>
            }


            @*  @for (var i = 1; i <= ViewBag.TotalPages; i++)
        {
        <li class="page-item">
        <a class="page-link" asp-controller="Employees" asp-action="Index" asp-route-page="@i">@i</a>
        </li>
        } *@

            @for (var Page = ViewBag.StartPage; Page <= ViewBag.EndPage; Page++)
            {
                <li class="page-item @(Page == ViewBag.CurrentPage ? "active" : "")">
                    <a class=".cursor-pointer page-link" onclick="SetDepartment(@Page,'@SearchQuery')">@Page</a>
                </li>

            }

            @if (ViewBag.currentPage < ViewBag.TotalPages)
            {

                <li class="page-item">
                    <a class="page-link" onclick="SetDepartment(@(ViewBag.CurrentPage + 1),'@SearchQuery')">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="SetDepartment(@(ViewBag.TotalPages),'@SearchQuery')">Last</a>
                </li>
            }


        </ul>
    }

</div>

<script>
    $(Document).ready(function () {
        $('#Department').select2({
            placeholder: 'Select Departments',
            allowClear: true,
            tags: true // With this, you can add data that are not in the select options
        });
    });

</script>

<script>
    function SetDepartment(Page, SearchText) {
        debugger
        var path = "/Employees/Index?Page=" + Page;
        if (SearchText != null && SearchText != '') {
            path += "&SearchText=" + SearchText;
        }

        var a = [@ViewBag.ArrayString];

        if (a.length > 0){
            debugger
            $.each(a, function (index, value) {
                path += "&DepId=" + value;
            })
        }
        var hostname = window.location.origin;
        window.location.href = hostname + path;
    };
</script>


<script>
    debugger
    $(document).on('click', '.filter-button', function () {
        $('#Filter-Container').modal('show');
    });
</script>

<script>
    $(document).on('click', '.select2-selection', function () {
        $('#Filter-Container').css('z-index', '0')
    }); 
</script>

@* <script>
    $(document).on('click', '.select2-container', function () {
        $('#Filter-Container').css('z-index', '0')
    }); 
</script> *@


<script>
    $(document).ready(function () {
        $(document).hover(function (event) {
            // Check if the clicked element is not within #Filter-Container
            if (!$(event.target).closest('#Filter-Container').length) {
                $('#Filter-Container').css('z-index', '1055');
            }
        });

        $(document).on('click', '.select2-selection', function () {
            $('#Filter-Container').css('z-index', '0');
        });
    });
</script>

<script>
    function () {
        document.getElementById('close').onclick = function () {
            this.parentNode.parentNode.remove();
            return false;
        };
    };
</script>